@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Background image of japan*/
.container {
    background: url(../images/tokyo-background.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gaming area */
.game-area {
    height: 80vh;
    width: 75vw;
    background-color: rgba(223, 223, 216, 0.4);
    color: #282824;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* Welcome message and image within gaming area*/
#welcome h1 {
    text-align: center;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#welcome img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    opacity: 0.8;
    padding: 0.5rem 0;
    max-width: 10rem;
    max-height: auto;
}

/* Play button on home page and Restart button on finish page*/
#play-btn, #restart-btn {
    text-decoration: none;
    color: #000;
    line-height: 3rem;
    border: 0.1rem black solid;
    width: 10rem;
    height: 3rem;
    text-align: center;
    background-color: rgba(86, 165, 235, 0.8);
    font-weight: bold;
}

/*quiz.html specific styling */
/*question area */

#question-no {
    margin-bottom: 0.5rem;
}

#question {
    margin: 0 0;
    padding: 0.5rem;
    font-size: 1.4rem;
}

.game-area h2 {
    text-align: center;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.selection {
    display: flex;
}
.selection > h3 {
    flex-direction: row;
    border: 0.1rem black solid;
    margin-left: 2rem;
    padding: 1rem;
}

.abcd {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer {
    width: 55vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.game-area > h3 {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
}

#score-board {
    padding: 0.5rem;
    margin: 0.1rem;
}

/* Styling applied where correct or incorrect answer given */

.correct {
    background: #008000;
}

.correct::after {
    content: '\2705'; /*unicode symbol for a tick */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 0.2rem;
}

.incorrect {
    background: #ff0033;
}
.incorrect::after {
    content: '\274C'; /*unicode symbol for a cross */
    color: #ff0033;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 0.2rem;
}

/*finish.html specific styling */

.results-area {
    height: 100vh;
    width: 100vw;
    background-color: rgba(223, 223, 216, 0.4);
    color: #282824;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}