@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}

/* Background image of japan*/
.container {
    background: url(../images/tokyo-background.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gaming area */
.game-area {
    height: 80vh;
    width: 75vw;
    background-color: rgba(223, 223, 216, 0.4);
    color: #282824;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* Welcome message and image within gaming area*/
#welcome h1 {
    text-align: center;
    padding: 0.5rem 0;
}

#welcome img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    opacity: 0.8;
    padding: 0.5rem 0;
    max-width: 10rem;
    max-height: auto;
}

/* Play button on home page */
#play-btn {
    text-decoration: none;
    color: #000;
    line-height: 3rem;
    border: 0.1rem black solid;
    width: 10rem;
    height: 3rem;
    text-align: center;
    background-color: rgba(86, 165, 235, 0.8);
    font-weight: bold;
}

